<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="dest" value="\${catalina.base:-/tmp}/logs"/>
    <property name="layoutPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c\\(%F:%L\\) [%p] --> %m %n%ex"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${layoutPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="org.apache" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="com.alibaba.dubbo" level="DEBUG"/>

    <root level="DEBUG,INFO,ERROR">
        <appender-ref ref="console"/>
    </root>
</configuration>